<b>Комментарий от ревьюера</b>

Привет! Меня зовут Ярослав Кальманов, я буду делать ревью твоего проекта. Давай будем общаться на «ты».

Мои комментарии будут в ячейках "Комментарий от ревьюера".

<div class="alert alert-danger"> 

<b> Комментарий от ревьюера ❗</b>

Красным цветом обозначены комментарии, на которые тебе нужно обратить внимание в первую очередь, чтобы я принял проект. 
</div>
<div class="alert alert-warning">

<b> Комментарий от ревьюера ⚠️</b>

Желтым цветом отмечено то, что ты можешь сделать немного по-другому. Ты можешь учесть эти комментарии при выполнении следующих проектов.
</div>
<div class="alert alert-success">

<b> Комментарий от ревьюера ✔️</b>

Зелёным цветом обозначены твои удачные решения, которые ты без сомнения можешь применять в будущих проектах.  
</div>

Если ты вносишь изменения в проект по моим рекомендациям, указывай, пожалуйста, это в своих комментариях. Будет удобно, если обозначишь свои комментарии заметным цветом или поместишь 

<div class="alert alert-info">
    
в такую ячейку
</div>

Давай при работе с проектом мы будем общаться с тобой в диалоге, поэтому не удаляй и не перемещай мои комментарии, это поможет мне сделать повторную  проверку проекта быстрее.
___

# Исследование надежности заемщиков.

### Описание проекта

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку

### Описание данных

* `children` — количество детей в семье
* `days_employed` — общий трудовой стаж в днях
* `dob_years` — возраст клиента в годах
* `education` — уровень образования клиента
* `education_id` — идентификатор уровня образования
* `family_status` — семейное положение
* `family_status_id` — идентификатор семейного положения
* `gender` — пол клиента
* `income_type` — тип занятости
* `debt` — имел ли задолженность по возврату кредитов
* `total_income` — ежемесячный доход
* `purpose` — цель получения кредита

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
Здорово, что указал цель исследования
    
</div>

### Шаг 1. Обзор данных

In [1]:
import pandas as pd

In [2]:
import os

pth1 = '/datasets/data.csv'
pth2 = 'data.csv'

if os.path.exists(pth1):
    data = pd.read_csv(pth1)
elif os.path.exists(pth2):
    data = pd.read_csv(pth2)
else:
    print('Something is wrong')

In [3]:
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу


<div class="alert alert-danger">
    
<b> Комментарий от ревьюера ❗</b>
    
Кажется, работа над проектом велась локально и пути к файлам не были изменены на общедоступные. Стоит переписать код таким образом, что бы он запускался и в jupiter hub, и локально без внесения дополнительных правок. Этого можно добиться многими способами. Например, использовать конструкцию `try-except` для путей файлов: `try` - пути на локальном компьютере, `except` - пути на сервере. Или применить библиотеку `os`:

```
import os

pth1 = '/folder_1/data.csv'
pth2 = '/folder_2/data.csv'

if os.path.exists(pth1):
    query_1 = pd.read_csv(pth1)
elif os.path.exists(pth2):
    query_1 = pd.read_csv(pth2)
else:
    print('Something is wrong)
```
</div>

<div class="alert alert-info">   
Спасибо, поправил
</div>

In [4]:
#Уникальные значения семейного положения клиента
data['family_status'].unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

In [5]:
#Значения пола клиентов
data['gender'].value_counts()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

In [6]:
#Уникальные значения количества детей
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

In [7]:
#Количество явных дубликатов
data.duplicated().sum()

54

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

In [9]:
data.describe()

,children,days_employed,dob_years,education_id,family_status_id,debt,total_income
count,21525.000000,19351.000000,21525.000000,21525.000000,21525.000000,21525.000000,1.935100e+04
mean,0.538908,63046.497661,43.293380,0.817236,0.972544,0.080883,1.674223e+05
std,1.381587,140827.311974,12.574584,0.548138,1.420324,0.272661,1.029716e+05
min,-1.000000,-18388.949901,0.000000,0.000000,0.000000,0.000000,2.066726e+04
25%,0.000000,-2747.423625,33.000000,1.000000,0.000000,0.000000,1.030532e+05
50%,0.000000,-1203.369529,42.000000,1.000000,0.000000,0.000000,1.450179e+05
75%,1.000000,-291.095954,53.000000,1.000000,1.000000,0.000000,2.034351e+05
max,20.000000,401755.400475,75.000000,4.000000,4.000000,1.000000,2.265604e+06

В стоблцах 'days_employed', 'total_income' есть пропуски.  
В столбце 'days_employed' есть отрицательные значения.   
В столбце 'total_income' значение вещественное, нужно привести к целому.  
В столбце 'education' верхний и нижний регистр в перемешку.  
В столбце 'dob_years' есть нулевое значение.  
В столбце 'children' есть значение 20 детей, немного смущает такая цифра.  
В столбце 'family_status' значения лучше привести к одному нижнему регистру.  
В столбце 'gender' есть непонятное значение 'XNA'.

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
Ты правильно определил ошибки в данных
</div>

### Шаг 2.1 Заполнение пропусков

In [10]:
#Количество пропусков
data.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

In [11]:
#Оценим  долю пропусков
data_miss_ratio = data.isna().sum()[1] / data.shape[0]
print("Количество данных с пропусками составляет: {:.1%}".format(data_miss_ratio))

Количество данных с пропусками составляет: 10.1%

Это довольная большая цифра, игнорировать ее нельзя. Количество пропусков в столбцах 'days_employed', 'total_income' одинаковое, возможно клиенты не предоставили справки о доходах и своем стаже работы. Будем заполнять пропущенные данные при помощи медианы, таким образом уменьшая влияние выбросов в наших данных. Для стажа заполним просто на медианное значение по всему столбцу, т.к. в поставленной задаче мы не будем рассматривать влияние данного признака. А для дохода клиента оптимальной группировкой по замене клиента будет являться тип занятости.

In [12]:
#Медианное значение стажа клиентов
days_employed_median = data['days_employed'].median()

#Заменим пропуски 
data['days_employed'] = data['days_employed'].fillna(days_employed_median)

In [13]:
#Медианное значение по типу занятости 
total_income_median = data.groupby('income_type')['total_income'].transform('median')

#Заменим пропуски 
data['total_income'] = data['total_income'].fillna(total_income_median)

In [14]:
#Проверим таблицу
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
С обработкой пропусков все отлично
</div>

### Шаг 2.2 Проверка данных на аномалии и исправления.

In [15]:
#Заполним нулевой возраст медианным значением
data.loc[data['dob_years'] == 0, 'dob_years'] = data['dob_years'].median()

In [16]:
#Заменим отрицательные значения стажа положительными
data['days_employed'] = abs(data['days_employed'])

In [17]:
#Заменим отрицательные значения о количестве детей положительными
data['children'] = abs(data['children'])
# Указанное количество детей = 20 заменим на 2 (скорее всего была опечатка при записи)
data.loc[data['children'] == 20, 'children'] = 2

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
Действительно, "-1" и "20" похожи на опечатки
</div>

In [18]:
#Приведем значения к нижнему регистру
data['education'] = data['education'].str.lower()
data['family_status'] = data['family_status'].str.lower()

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
Хорошо, что обработал неявные дубликаты
</div>

In [19]:
#Посмотри на значения пола клиента
data['gender'].value_counts()

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

In [20]:
#Заменим значение пола 'XNA' на женский 'F'
data.loc[data['gender'] == 'XNA', 'gender'] = 'F'

Все аномалии скорее всего были вызваны ошибкой пользователя при занесении данных. А отрицательные значения стажа программной ошибкой (возможно сбой при переносе данных).

### Шаг 2.3. Изменение типов данных.

In [21]:
data['dob_years'] = data['dob_years'].astype('int')
data['days_employed'] = data['days_employed'].astype('int')
data['children'] = data['children'].astype('int')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  int64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.0+ MB

Для столбцов "возраст клиента в годах", "общий трудовой стаж в днях", "количество детей в семье" тип данных float не нужен, данные по смыслу должны быть целыми числами.

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
Все верно
</div>

### Шаг 2.4. Удаление дубликатов.

In [22]:
#Найдем количество дубликатов после приведения столбцов к нижнему регистру
data.duplicated().sum()

72

In [23]:
#Удалим дубликаты
data = data.drop_duplicates().reset_index(drop=True)

После того как мы привели данные в столбце 'education' к нижнему регистру, были обнаружены дополнительные дубликаты. Скорее всего дубликаты были некорректно занесены при записи данных в базу, а база не была проверена после формирования.
Мы удалили все дубликаты сразу.

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
С обработкой явных дубликатов все супер!
</div>

### Шаг 2.5. Формирование дополнительных датафреймов словарей, декомпозиция исходного датафрейма.

In [24]:
#Создадим новый датафрейм 
education = data[['education_id']].drop_duplicates().reset_index(drop=True)
education

   education_id
0             0
1             1
2             2
3             3
4             4

In [25]:
#Создадим новый датафрейм 
family_status = data[['family_status_id']].drop_duplicates().reset_index(drop=True)
family_status

   family_status_id
0                 0
1                 1
2                 2
3                 3
4                 4

<div class="alert alert-warning">
    
<b> Комментарий от ревьюера ⚠️</b>
    
Если мы выделили словари, то признаки education и family_status можно удалить из таблицы data, чтобы она занимала меньше места в памяти
</div>

<div class="alert alert-info">
    
Согласен, удалил
</div>

### Шаг 2.6. Категоризация дохода.

In [26]:
#Напишем функцию для категоризации
def func_income_category(total_income):
    if total_income <= 30000:
        return 'E'
    elif 30001 <= total_income <= 50000:
        return 'D'
    elif 50001 <= total_income <= 200000:
        return 'C'
    elif 200001 <= total_income <= 1000000:
        return 'B'
    else:
        return 'A'

In [27]:
#Применим ее для формирования нового столбца с категориями 
data['total_income_category'] = data['total_income'].apply(func_income_category)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья,B
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля,C
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья,C
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование,B
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу,C

### Шаг 2.7. Категоризация целей кредита.

In [28]:
#Посмотри на значения стоблца с целями
data['purpose'].value_counts()

свадьба                                   791
на проведение свадьбы                     767
сыграть свадьбу                           765
операции с недвижимостью                  675
покупка коммерческой недвижимости         661
операции с жильем                         652
покупка жилья для сдачи                   651
операции с коммерческой недвижимостью     650
жилье                                     646
покупка жилья                             646
покупка жилья для семьи                   638
строительство собственной недвижимости    635
недвижимость                              633
операции со своей недвижимостью           627
строительство жилой недвижимости          624
покупка недвижимости                      621
покупка своего жилья                      620
строительство недвижимости                619
ремонт жилью                              607
покупка жилой недвижимости                606
на покупку своего автомобиля              505
заняться высшим образованием              496
автомобиль                                494
сделка с подержанным автомобилем          486
свой автомобиль                           478
на покупку подержанного автомобиля        478
автомобили                                478
на покупку автомобиля                     471
приобретение автомобиля                   461
дополнительное образование                460
сделка с автомобилем                      455
высшее образование                        452
образование                               447
получение дополнительного образования     446
получение образования                     442
профильное образование                    436
получение высшего образования             426
заняться образованием                     408
Name: purpose, dtype: int64

In [29]:
#Напишем функцию для категоризации
def func_purpose_category(purpose):
    if 'образов' in purpose:
        return 'получение образования'
    elif 'авто' in purpose:
        return 'операции с автомобилем'
    elif 'свадьб' in purpose:
        return 'проведение свадьбы'
    else:
        return 'операции с недвижимостью'

In [30]:
#Применим ее для формирования нового столбца с категориями 
data['purpose_category'] = data['purpose'].apply(func_purpose_category)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья,B,операции с недвижимостью
1,1,4024,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля,C,операции с автомобилем
2,0,5623,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья,C,операции с недвижимостью
3,3,4124,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование,B,получение образования
4,0,340266,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу,C,проведение свадьбы

In [31]:
#Посмотрим что получилось
data['purpose_category'].value_counts()

операции с недвижимостью    10811
операции с автомобилем       4306
получение образования        4013
проведение свадьбы           2323
Name: purpose_category, dtype: int64

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21453 entries, 0 to 21452
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   children               21453 non-null  int64
 1   days_employed          21453 non-null  int64
 2   dob_years              21453 non-null  int64
 3   education              21453 non-null  object
 4   education_id           21453 non-null  int64
 5   family_status          21453 non-null  object
 6   family_status_id       21453 non-null  int64
 7   gender                 21453 non-null  object
 8   income_type            21453 non-null  object
 9   debt                   21453 non-null  int64
 10  total_income           21453 non-null  float64
 11  purpose                21453 non-null  object
 12  total_income_category  21453 non-null  object
 13  purpose_category       21453 non-null  object
dtypes: float64(1), int64(6), object(7)
memory usage: 2.3+ MB

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
Здорово, что добавил новые признаки
</div>

### Ответы на вопросы.

**Есть ли зависимость между количеством детей и возвратом кредита в срок?**

In [33]:
#Содадим сводную таблицу для анализа
children_debt = data.pivot_table(index = 'children', columns = 'debt', values = 'dob_years', aggfunc = 'count').fillna(0)
children_debt.columns = ['Нет долга', 'Есть долг']
children_debt['Доля должников'] = (children_debt['Есть долг'] / 
                                (children_debt['Есть долг'] + 
                                 children_debt['Нет долга'])).map('{:.1%}'.format)
children_debt.sort_values(by = 'Доля должников', ascending = False)

          Нет долга  Есть долг Доля должников
children
4              37.0        4.0           9.8%
2            1926.0      202.0           9.5%
1            4410.0      445.0           9.2%
3             303.0       27.0           8.2%
0           13027.0     1063.0           7.5%
5               9.0        0.0           0.0%

Высокие доли должников у клиентов, у которых есть дети.
Такие результаты связаны с большими затратами на детей.
У клиентов с 5 детьми долгов нет, возможно это из-за небольшого количества примеров, а возможно существуют какие-то программы по поддержке многодетных семей.

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
В целом ты прав. По группам с 3+ детей не стоит делать выводы, потому что в них мало клиентов, выводы могут быть не репрезентативны 
</div>

**Есть ли зависимость между семейным положением и возвратом кредита в срок??**

In [34]:
#Содадим сводную таблицу для анализа
family_status_debt = data.pivot_table(index = 'family_status', columns = 'debt', values = 'dob_years', aggfunc = 'count').fillna(0)
family_status_debt.columns = ['Нет долга', 'Есть долг']
family_status_debt['Доля должников'] = (family_status_debt['Есть долг'] / 
                                (family_status_debt['Есть долг'] + 
                                 family_status_debt['Нет долга'])).map('{:.1%}'.format)
family_status_debt.sort_values(by = 'Доля должников', ascending = False)

                       Нет долга  Есть долг Доля должников
family_status
не женат / не замужем       2536        274           9.8%
гражданский брак            3762        388           9.3%
женат / замужем            11408        931           7.5%
в разводе                   1110         85           7.1%
вдовец / вдова               896         63           6.6%

<div class="alert alert-warning">
    
<b> Комментарий от ревьюера ⚠️</b>
    
Мы используем однотипный код для создания сводных таблиц, лучше записать его в виде функции
</div>

У клиентов, которые не состоят в браке, процент задолжности самый высокий. У клиентов которые были в браке процент ниже. Возможно, что это связано с перераспределением доходов. В семьях есть дополнительный источник дохода. У вдовцов есть возможность получить наследство своего супруга/супруги. У клиентов в разводе (и у вдовцов тоже) возможно остались накопления от семейного бюджета.

**Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [35]:
#Содадим сводную таблицу для анализа
income_category_debt = data.pivot_table(index = 'total_income_category', columns = 'debt', values = 'dob_years', aggfunc = 'count').fillna(0)
income_category_debt.columns = ['Нет долга', 'Есть долг']
income_category_debt['Доля должников'] = (income_category_debt['Есть долг'] / 
                                (income_category_debt['Есть долг'] + 
                                 income_category_debt['Нет долга'])).map('{:.1%}'.format)
income_category_debt.sort_values(by = 'Доля должников', ascending = False)

                       Нет долга  Есть долг Доля должников
total_income_category
E                             20          2           9.1%
C                          14654       1360           8.5%
A                             23          2           8.0%
B                           4686        356           7.1%
D                            329         21           6.0%

У категории 'E' с самым низким доходом самый высокий процент должников, что логично. Но тут небольшое количество экземпляров. Если расмтривать категории с самым большим количеством клиентов то тут тоже все логично: у категории 'C' с более низким доходом должников больше чем в категории 'B' с более высоким доходом.

**Есть ли зависимость между уровнем дохода и возвратом кредита в срок?**

In [36]:
#Содадим сводную таблицу для анализа
purpose_category_debt = data.pivot_table(index = 'purpose_category', columns = 'debt', values = 'dob_years', aggfunc = 'count').fillna(0)
purpose_category_debt.columns = ['Нет долга', 'Есть долг']
purpose_category_debt['Доля должников'] = (purpose_category_debt['Есть долг'] / 
                                (purpose_category_debt['Есть долг'] + 
                                 purpose_category_debt['Нет долга'])).map('{:.1%}'.format)
purpose_category_debt.sort_values(by = 'Доля должников', ascending = False)

                          Нет долга  Есть долг Доля должников
purpose_category
операции с автомобилем         3903        403           9.4%
получение образования          3643        370           9.2%
проведение свадьбы             2137        186           8.0%
операции с недвижимостью      10029        782           7.2%

Самая большая доля у должников - в категории кредита на автомобиль. Это связано с дополнительными большими расходами - содержание автомобиля, ремонт, страховка, бензин. Дальше образование - образование нужно для повышение заработка и своей платежеспособности. Поэтому тоже довольно высокий. Самый низкий - операции с нежвижимостью, наверно это связано с большей ответственностью (остаться без жилья страшнее чем без машины) и более низкими процентами по кредитам.

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
Ты хорошо справился с анализом данных
</div>

## Общий вывод:

У клиентов, которые не состоят в браке, процент задолжности самый высокий.  
Высокие доли должников у клиентов, у которых есть дети.  
Люди с высоким уровнем дохода более платежеспособны.  
Больше всего процент заолжниковб, которые брали кредит на автомобили и обрзование.

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
Хороший вывод
</div>

<div class="alert alert-success">
    
<b> Комментарий от ревьюера ✔️</b>
    
Спасибо за твою работу! Ты хорошо справился с подготовкой и анализом данных, у тебя получились логичные комментарии и выводы.

Осталось немного доработать проект:

- поправить загрузку данных
 
Задавай вопросы к моим комментариям, если есть. Жду твои исправления:)

</div>

<div class="alert alert-info">
    
Спасибо за проверку и за комментарии!
</div>